<form class="form" action="#" method="GET">
    <caption>Innskráning</caption>
    <div>
        <label>
            Símanúmer:
            <input type="tel" 
                name="Símanúmer"
                placeholder="581 2345"
                autofocus
                pattern="\d{}"
                title="Vinsamlegast skráið inn símanúmer"
                required>
        </label>
        <label>
            Netfang:
            <input type="email"
                name="Netfang"
                placeholder="jon@eimskip.is"
                title="Vinsamlegast skrifaðu inn netfang"
                required>
        </label>
        <label>
            Nafn:
            <input type="text"
                name="Nafn"
                placeholder="Jón Hallfreðsson"
                title="Vinsamlegast skrifaðu inn nafn"
                required>
        </label>
    </div>
</form>