<nav class="yfirlit">
    <h2>Bækur:</h2>
    <ul>
        <li><a href="/2019/02/20/War_of_the_Worlds.html">War of the Worlds</a> - <a href="/authors/HGWells.html">H. G. Wells</a></li>
        <li><a href="/2019/02/20/egmandig.html">Ég man þig</a> - <a href="/authors/YrsaSigurdardottir.html">Yrsa Sigurðardóttir</a></li>
        <li><a href="/2019/02/20/einvigid.html">Einvígið</a> - <a href="/authors/ArnaldurIndridasson.html">Analdur Indriðason</a></li>
        <l1><a href="/2019/02/20/guidetothegalaxy.html">Leiðarvísir puttaferðalangsins um Vetrarbrautina</a> - <a href="/authors/DouglasAdams.html">Douglas Adams</a></l1>
    </ul>
    <div class="auglysing">
        <div>
            <img src="/pictures/Pennin.svg">
            <img src="/pictures/Eymundsson.svg">
        </div>
    </div>
</nav>