<nav class="yfirlit">
    <h2>Bækur:</h2>
    <ul>
        {% for post in site.posts %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
                 - 
                {% for author in site.authors %}
                    {% if post.author == author.short_name  %}
                        <a href="{{ author.url }}">{{ post.fullt_nafn }}</a></li>
                    {% endif %}
                {% endfor %}
        {% endfor %}
    </ul>
    <div class="auglysing">
        <a href="https://www.penninn.is/"><img src="/pictures/EymundssonOgPenninn.svg"></a>
        <a href="https://www.penninn.is/">Allt sem þú þarft á frábæru verði.</a>
    </div>
</nav>