<nav class="yfirlit">
    <h2>Bækur:</h2>
    <ul>
        <li><a href="">War of the Worlds</a> - <a href="">H. G. Wells</a></li>
        <li><a href="">Ég man þig</a> - <a href="">Yrsa Sigurðardóttir</a></li>
        <li><a href="">Einvígið</a> - <a href="">Analdur Indriðason</a></li>
        <l1><a href="">Leiðarvísir puttaferðalangsins um Vetrarbrautina</a> - <a href="">Douglas Adams</a></l1>
        <li><a href="">Time's Eye</a> - <a href="">Stephen Baxter</a> og <a href="">Arthur C. Clarke</a></li>
    </ul>
</nav>