$bakgrunnslitur: #171A23;

.tafla{
    display: inline-block;
    width: 100%;
    background-image: linear-gradient(to right, $bakgrunnslitur, lighten($bakgrunnslitur, 10), $bakgrunnslitur);
    a {text-decoration: none;}
    th {padding: 10px;}
}
.tafla2{
    display: none;
    width: 80%;
    background-image: linear-gradient(to right, $bakgrunnslitur, lighten($bakgrunnslitur, 10), $bakgrunnslitur);
    a {text-decoration: none;}
    th {padding: 10px;}
    th:first-child{
        width: 50%;
        text-align: left;
    }
    th:last-child{
        width: 50%;
        text-align: right;
    }
}

@media screen and (max-width: 650px){
    .tafla{display: none;}
    .tafla2{display: inline-block;}
}
