.form{
    width: 90%;
    border: 1px solid gray;
    border-radius: 25px;
    display: block;
    color: red;
    caption{
        position: absolute;
        bottom: 100%;
        color: blue;
        padding: 10000px;
    }
    div{
        padding: 10px;
        label{
            display: block;
            input{
                width: 100%;
            }
        }
    }
}