.form{
    width: 90%;
    border: 1px solid gray;
    border-radius: 25px;
    color: red;
    caption{
        position: absolute;
        bottom: 100%;
        color: blue;
    }
    div{padding: 10px;}
}

#cluster1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    label{
        text-align: left;
        padding-top: 10px;
        input{
            width: 95%;
        }
    }
    @media screen and (max-width: 500px){
        display: block;
        label{
            padding-bottom: 10px;
        }
    }
}

#cluster2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    label{
        text-align: left;
        padding-top: 10px;
        width: 100%;
    }
}

textarea{
    height: 100px;
    width: 90%;
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
}

#tjekk{
    display: block;
    padding-bottom: 10px;
}

#bokaform{
    text-align: left;
}

#Tungumal{
    text-align: center;
}