$GrunnLitur:  white;
$width: 1280px;
$GrunnFontStaerd: 1.15em;

body{
  max-width: $width;
  margin: 0 auto;
  height: 100vh;
  background-image: linear-gradient($GrunnLitur, lighten($GrunnLitur, 30));
}



