$GrunnLitur: #1B374C;
$width: 1280px;
$GrunnFontStaerd: 1.15em;

body{
  text-align: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background-image: linear-gradient($GrunnLitur, darken($GrunnLitur, 10));
  color: #BDBEC2;
  font-family: Arial;
}
a{
  color: #BDBEC2;
}
a:hover{
  color: blue;
}



