$staerd: 1.7em;
$GrunnLitur: #BDBEC2;

.valmynd{
    width: auto;
    background-color: #171A23;
    border-bottom: 1px solid darken($GrunnLitur, 50);
    padding: 1em;
    color: $GrunnLitur;
    div{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        div{
            text-align: right;
            a{
            grid-area: haegri;
            text-decoration: none;
            font-size: $staerd;
            justify-content: right;
            padding-right: 10px;
            color: $GrunnLitur;
            }
            a:hover{
            color: invert($color: $GrunnLitur);
            }
            .valmynd_litur{
            margin: 0;
            }
            .current{
            color: darken($color: $GrunnLitur, $amount: 20)
            }
        }
    }
}
