$auglysing: rgb(1, 83, 1);

.yfirlit{
    a{
        text-decoration: none;
        line-height: 2em;
        color: #BDBEC2;
    }
    a:hover{
        color: lighten($color: #BDBEC2, $amount: 100);
        text-decoration: underline;
    }
    padding-left: 2em;
    text-align: left;
    ul{
        font-size: 1.3em;
    }
    @media screen and (max-width: 1110px){
        display: block;
    }
}

@keyframes rammi
{
    from   {background-image: url(/pictures/AuMynd_1.svg); opacity: 1s ease-in-out;}
    33% {background-image: url(/pictures/AuMynd_2.svg); opacity: 1s ease-in-out;}
    66% {background-image: url(/pictures/AuMynd_3.svg); opacity: 1s ease-in-out;}
    to {background-color: $auglysing; opacity: 1s ease-in-out;}
}

@keyframes merki
{
    0% {bottom: 5px;}
    80% {bottom: 5px;}
    100% {bottom: 100px;}
}

@keyframes texti
{
    0% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 100;}
}

.auglysing{
    text-align: center;
    width: 500px;
    height: 300px;
    position: relative;
    background-color: $auglysing;
    animation-name: rammi;
    animation-duration: 12s;
    animation-iteration-count: 1;
    justify-content: center;
    img{
        width: 450px;
        height: auto;
        position: absolute;
        animation-name: merki;
        animation-duration: 11s;
        animation-iteration-count: 1;
        right: 25px;
        bottom: 100px;
    }
    a{
        text-decoration: none;  
        color: white;
        position: absolute;
        animation-name: texti;
        animation-duration: 11s;
        animation-iteration-count: 1;
        text-align: center;
        bottom: 25px;
        font-style: italic;
        font-weight: bold;
        font-family: helvetica;
    }
}