.yfirlit{
    a{
        text-decoration: none;
        line-height: 2em;
    }
    a:hover{
        color: blue;
    }
    padding-left: 2em;
    text-align: left;
    ul{
        font-size: 1.3em;
    }
}