.yfirlit{
    a{
        text-decoration: none;
        line-height: 2em;
        color: #BDBEC2;
    }
    a:hover{
        color: lighten($color: #BDBEC2, $amount: 100);
        text-decoration: underline;
    }
    padding-left: 2em;
    text-align: left;
    ul{
        font-size: 1.3em;
    }
}