<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body class="default_klasi">
    <article>
      <div>
        {% include navigation.html %}
      </div>
      <article>
        <div>
          <img src="/pictures/Lundi.svg">
          {{ content }}
        </div>
        <aside>{% include yfirlit.html %}</aside>
      </article>
  </article>
  <footer class="footer">{% include footer.html %}</footer>
  </body>
</html>
